

.swagger-section #header {
    background-color: #4d9de0;
}



/*.swagger-section #explore {
    color: #4d9de0;
    background-color: white;
}*/

    /*.swagger-section #explore:hover {
        color: white;
        background-color: #BCDAF4;
    }*/

